In [1]:
import requests
import csv
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
url="https://www.flipkart.com/search?q=phones&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off"
response = requests.get(url)
htmlcontent = response.content
soup = BeautifulSoup(htmlcontent,"html.parser")

In [3]:
products=[]
prices=[]
product=soup.find('div',attrs={'class':'_4rR01T'})
print(product.text)

realme C20 (Cool Grey, 32 GB)

In [4]:
for a in soup.findAll('a', attrs={'class':'_1fQZEK'}):
  name=a.find('div',attrs={'class':'_4rR01T'})
  price=a.find('div',attrs={'class':'_30jeq3 _1_WHN1'})
  products.append(name.text)
  prices.append(price.text)

In [5]:
final=[]
for i in prices:
    i=i[1:]
    final.append(i)

In [6]:
df = pd.DataFrame({'Product Name':products,'Prices':final})
df.head()

                                Product Name  Prices
0              realme C20 (Cool Grey, 32 GB)   6,999
1              realme C20 (Cool Blue, 32 GB)   6,999
2             REDMI 9i (Nature Green, 64 GB)   8,299
3  OPPO Reno6 Pro 5G (Stellar Black, 256 GB)  39,990
4               POCO M3 (Power Black, 64 GB)  11,499

In [7]:
df.to_csv('products.csv', index=False, encoding='utf-8')